@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}

nav {
  display: flex;
  padding-left: 50px;
  align-items: center;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
}

ul li {
  list-style: none;
  position: relative;
}

ul li a{
  outline: none;
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 4.75vw;
  font-weight: 900;
  text-decoration: none;
  line-height: 1.25em;
}

ul li a:hover {
  color: #fff;
  -webkit-text-stroke: 1px #000;
  transition: 0.5s;
}

ul li a:before,
ul li a:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;

}

ul li a:hover:before,ul li a:focus:before {
  color: #f00;
  z-index: 1;
  -webkit-text-stroke: 1px #000;
  transform: translate(10px,-10px);
}

ul li a:hover:after,ul li a:focus:after {
  color: #0ff;
  z-index: 2;
  -webkit-text-stroke: 1px #000;
  transform: translate(20px,-20px);
}

#logo {
  position: absolute;
  width: 29vw;
  top: 0px;

}

.box {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%,-50%);
  width: 25 vw;
  padding: 50px;
  background-image: transparent;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 4px 10px 1px rgb(169 , 169 ,169 ), 0px 7px 25px 0 gray;
}

h1 {
  font-size: 2vw;
  color: white;
  top: 10px;
}

input[type="button"] {
  position: relative;
  display: block;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(to right,#32be8f, #35dba4, #38be92);
  outline: none;
  color: #ffffff;
  padding: 10px 50px;
  margin: 20px auto;
  text-align: center;
  font-size: 1.5vw;
  cursor: pointer;
  background-size: 200%;
  transition: 0.5s;
}

input[type="button"]:hover, input[type="button"]:focus {
  background-position: right;
}

/*
* For responsive design
*/
@media screen and (max-width: 760px) {
  div.box {
    top: 80%;
    left: 50%;
  }
}
