body{
    
	margin: 0;
}
.part1{
	background-color: #cd3f3e;
	width: 25%;
	height: 80px;
	float: left;
	text-align: center;
	}
.main{
	display:inline-block;
	width: 100%;
	
}
.part2{
	background-color: #216583;
	float: left;
	width: 25%;
	height: 80px;
	text-align:center;
	}
.part3{
	background-color: #7fa99b;
	float: left;
	width: 25%;
	height: 80px;
	text-align: center;
	}
	.part4{
	float: right;
	background-color: #ffc60b;
	width: 25%;
	height: 80px;
	text-align: center;
	}
.main2{
	position: relative;
  width: 100%;
  max-width: 400px;
}
.main2 img {
display: block;
  margin-left: 100%;
  width: 50%;
  padding: 50px;}

.main3{
	display:inline-block;
	width: 100%;
}

.btn_part1{
	background-color: #7fa99b;
	float: left;
	width: 50%;
	height: auto;
	text-align: right;
	
}
.btn1{
	
	font-size: 20px;
	padding: 14px 40px;
	border-radius: 8px;
	margin-right: 5%;
	color: black;
cursor: pointer;
}
.btn_part2{
	
 background-color: #7fa99b;
	float: right;
	width: 50%;
	height: auto;
	text-align: left;
}
.btn2{
	
	font-size: 20px;
	padding: 14px 40px;
	border-radius: 8px;
	margin-left: 5%;
	color: black;
cursor: pointer;
}
.btn_part1 .btn1:hover {
  background-color: yellow;
  color: black;
}
.btn_part2 .btn2:hover {
  background-color: yellow;
  color: black;
}
