<div class="container-fluid container-color">
  <h2 class="heading-font heading-pos">Log In to DevHack</h2>
  <form>
    <div class="form-group col-md-4 text-font text-pos">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="form-group col-md-4 text-font text-pos">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div>
      <a  class="text-signup" routerLink="/sign-up">Don't have an account?</a>
    </div>
    <button type="submit" class="btn btn-primary col-md-3 button-pos">Login</button>
  </form>
</div>