.container-contact{
    background-color: #233253;
    position: relative;
    height: 250px;
}
.heading-font{
    font-family: "Merriweather";
    font-size: 50px;
    font-weight: bolder;
    color:  #3FEEE6;
    text-align: center;
    position: relative;
    top: 50px;
}
.pos-ul{
    position: relative;
    top: 30%;
    margin-left: 39%;
}
.icon{
    color:  #3FEEE6;
    font-size: 55px;
    margin-right: 20px;
}
