
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Neuton&display=swap" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
 
<div class="container-page">

  <div class="jumbotron jumbo-bg">
    <h1 class="display-4 heading-font">DevHack</h1>
    <br>
    <br>
    <p class="font"> 
      DevHack is a Platform for Developers to Connect with Ambitious and Passionate people near them.
      Participate in Hackathons Together all Day and Night.Team up, Exchange ideas and Build Great Products.
      Grow your Network as well as Grow as an Individual.
    </p>
    <br><br><br><br><br><br><br><br>
  </div>

  <div class="jumbotron jumbo-pos jumbo-about">
    <h2 class="title-font">About Us</h2>
      <img src="assets/images/map.jpg" id="map-img-size">
      <h2 id="heading-map">Locate Developers Near You</h2>  
  </div>

  <div class="container-fluid container-connect">
    <div class="col-5">
      <h2 id="heading-connect">Connect with Developers</h2>
      <p class="text-connect">
        Meet developers near you and exchange ideas 
        through discussions and brainstorming sessions. 
        Find the ones who are as passionate and as ambitious as you are.
      </p>
    </div>
    <div class="col-7">
      <img src="assets/images/connect.jpg" id="img-connect">
    </div>
  </div>

  <div class="container-fluid container-learn">
    <div class="col-6">
      <img src="assets/images/learn.jpg" id="img-learn">
    </div>
    <div class="col-6 container-text-learn">
      <h2 id="heading-learn">Learn Together</h2>
      <p class="text-learn">
        Form a team, learn technologies, 
        dive into tutorials or documentations 
        that will be helpful in building the 
        impactful and scalable products
      </p>    
    </div>
  </div>

  <div class="container-fluid container-participate">
      <div class="col-6">
        <h2 id="heading-participate">Participate in Hackathons</h2>
        <p class="text-participate">
          Participate in Hackathons together and give your best. 
          Grow your network as well as grow as an indivdual.
          Contribute to the community as much as you can.
        </p>
      </div>
      <div class="col-6">
        <img src="assets/images/trophy.jpg" id="img-participate">
      </div>
  </div>
  
</div>